In [13]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from keras.layers import Input
from keras.layers import Dense
from keras.optimizers import Adam
from keras.models import Sequential
import numpy as np
import keras
from collections import Counter

In [14]:
def wrangle_data(data, bool_X_test = 0):

    if bool_X_test == 0:
        
        features = data.drop(columns=['loan_status', 'id'])
        labels = data.loan_status
        
        x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.3)
        # Select numeric column names
        numeric_cols = x_train.select_dtypes(include=['float64', 'int64']).columns
        # Create new standard scaler object
        scaler = StandardScaler()
        x_train[numeric_cols] = scaler.fit_transform(x_train[numeric_cols])
        x_test[numeric_cols] = scaler.transform(x_test[numeric_cols])
        
        x_train = pd.get_dummies(x_train, drop_first=True, dtype='int')
        x_test = pd.get_dummies(x_test, drop_first=True, dtype='int')
        
        return(x_train, x_test, y_train, y_test)
        
    else:
        y_labels = data.id
        X_test = data.drop(columns=['id'])
        
        # Select numeric column names
        numeric_cols = X_test.select_dtypes(include=['float64', 'int64']).columns
        # Create new standard scaler object
        scaler = StandardScaler()
        X_test[numeric_cols] = scaler.fit_transform(X_test[numeric_cols])
        X_test = pd.get_dummies(X_test, drop_first=True, dtype='int')

        return X_test, y_labels

In [15]:
data = pd.read_csv('train.csv')
x_train, x_test, y_train, y_test = wrangle_data(data, 0)
x_train.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
33360,-0.754067,0.151883,-0.427672,-0.216972,1.089504,-0.534899,-0.947084,0,0,0,...,0,0,0,0,1,0,0,0,0,1
35435,-0.588701,0.410255,0.826658,1.043959,0.920982,0.337505,-0.947084,0,0,0,...,0,0,0,0,1,0,0,0,0,1
51681,-0.588701,-0.106489,0.826658,-0.487171,0.101500,-0.534899,-0.450342,0,1,0,...,0,0,0,1,0,0,0,0,0,0
7617,-0.754067,0.927000,0.575792,-0.216972,0.263413,-0.862050,-0.450342,0,0,1,...,0,1,0,1,0,0,0,0,0,0
9133,-0.754067,0.151883,0.074060,0.143294,0.431936,-0.207747,-0.698713,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [16]:
model = Sequential()

model.add(Input(shape=(x_train.shape[1], )))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
opt = Adam(learning_rate = 0.001)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(x_train, y_train, epochs=10, verbose=1, batch_size=1)

Epoch 1/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 248us/step - accuracy: 0.9142 - loss: 0.2435
Epoch 2/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 249us/step - accuracy: 0.9365 - loss: 0.1995
Epoch 3/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 252us/step - accuracy: 0.9402 - loss: 0.1924
Epoch 4/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 11s 262us/step - accuracy: 0.9420 - loss: 0.1900
Epoch 5/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 252us/step - accuracy: 0.9432 - loss: 0.1861
Epoch 6/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 245us/step - accuracy: 0.9421 - loss: 0.1871
Epoch 7/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 249us/step - accuracy: 0.9437 - loss: 0.1858
Epoch 8/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 249us/step - accuracy: 0.9453 - loss: 0.1810
Epoch 9/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 250us/step - accuracy: 0.9449 - loss: 0.1863
Epoch 10/10
41051/41051 ━━━━━━━━━━━━━━━━━━━━ 10s 244us/step - accuracy: 0.9446 - loss: 0.1829

In [17]:
data = pd.read_csv('test.csv')
X_test, y_labels = wrangle_data(data, 1)
X_test.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,...,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,loan_grade_B,loan_grade_C,loan_grade_D,loan_grade_E,loan_grade_F,loan_grade_G,cb_person_default_on_file_Y
0,-0.757007,0.130141,-0.436121,2.824250,1.688238,2.187295,-0.940719,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,-0.259715,0.841503,0.339404,0.134238,0.668431,-0.650135,-0.449573,0,0,0,...,0,1,0,0,1,0,0,0,0,1
2,-0.259715,-0.897382,0.080895,-0.941767,2.161719,-0.322739,-0.940719,0,0,1,...,0,0,1,0,0,0,1,0,0,1
3,0.900631,-0.370447,-0.177613,-0.403765,-0.583149,-0.213607,0.287147,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,-0.259715,0.999584,0.856421,1.030908,1.873657,-0.104475,-0.449573,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [18]:
predictions = []
y_estimate = model.predict(X_test)
for y in y_estimate:
    if y >= 0.5:
        predictions.append(1)
    else:
        predictions.append(0)

output_df = pd.DataFrame({'id': y_labels, 'loan_status': predictions})
output_df.head()

1222/1222 ━━━━━━━━━━━━━━━━━━━━ 0s 222us/step

      id  loan_status
0  58645            1
1  58646            0
2  58647            0
3  58648            0
4  58649            0

In [19]:
output_df.to_csv('submission.csv')